@import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Montserrat:300,400,700");
/* B4 OVERRIDDINGS */

/* B4 BREAKPOINTS HELPER */
// body {
// 	@include media-breakpoint-up(md) {
// 		background-color: #ff6666;
// 		section::after {
// 			content: "LG";
// 			position: fixed;
// 			top: 0;
// 			background-color: white;
// 			border: 3px dashed blue;
// 			border-bottom-right-radius: 30px;
// 			font-size: 36px;
// 		}
// 	}
// 	@include media-breakpoint-down(lg) {
// 		background-color: #ffb266;
// 		section::after {
// 			content: "MD";
// 			position: fixed;
// 			top: 0;
// 			background-color: white;
// 			border: 3px dashed chartreuse;
// 			border-bottom-right-radius: 30px;
// 			font-size: 36px;
// 		}
// 	}
// 	@include media-breakpoint-down(md) {
// 		background-color: #ffff66;
// 		section::after {
// 			content: "SM";
// 			position: fixed;
// 			top: 0;
// 			background-color: white;
// 			border: 3px dashed aquamarine;
// 			border-bottom-right-radius: 30px;
// 			font-size: 36px;
// 		}
// 	}
// 	@include media-breakpoint-down(sm) {
// 		background-color: #b2ff66;
// 		section::after {
// 			content: "XS";
// 			position: fixed;
// 			top: 0;
// 			background-color: white;
// 			border: 3px dashed rebeccapurple;
// 			border-bottom-right-radius: 30px;
// 			font-size: 36px;
// 		}
// 	}
// 	@include media-breakpoint-down(xs) {
// 		background-color: #b2b266;
// 		section::after {
// 			content: "XXS";
// 			position: fixed;
// 			top: 0;
// 			background-color: white;
// 			border: 3px dashed darkmagenta;
// 			border-bottom-right-radius: 30px;
// 			font-size: 36px;
// 		}
// 	}
// }

$grey: #434343;
$mauve: #67549a;

/* CORE */
html,
body {
	background-color: #f8f8f8;
	scroll-behavior: smooth;
}

/* HEADINGS */
h1,
h2,
h3,
h4 {
	font-family: "Montserrat";
}

h1 {
	color: $grey;
	font-size: 70px;
	font-weight: 300;
	max-width: 100px;
	padding-bottom: 75px;
	border-bottom: 5px solid $mauve;
}

h2 {
	color: $mauve;
	font-size: 20px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
	margin-top: 5rem;
}

h3 {
	color: $grey;
	font-size: 40px;
	font-weight: 400;
	line-height: 80px;
}

h4 {
	color: #6853ac;
	font-size: 24px;
	font-weight: 500;
}

.incipit {
	color: $grey;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

/* TEXT */
p,
a,
label,
input,
ul,
em {
	color: $grey;
	font-family: "Karla";
	font-size: 22px;
	font-weight: 400;
	line-height: 30px;
}

/* COMMONS */

input:focus,
button:focus {
	outline: none;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.lead {
	max-width: 50%;
}

.button {
	color: white;
	height: 50px;
	background-image: linear-gradient(-247.59deg, #6853ac 0%, #1f9561 100%);
}

.white-button {
	width: 100%;
	height: 45px;
	border: 1px solid #67549a;
	background-color: white;
	border-radius: 24px;
	&:hover {
		background-color: $mauve;
		color: white;
	}
}

.logo {
	@extend .img-fluid;
}

.mc-field-group {
	display: flex;

	/*INPUT*/
	.email {
		border-radius: 120px;
		min-width: 400px;
		background-color: white;
		border: 1px solid $mauve;
	}
	/*BUTTON*/
	.button {
		z-index: 1;
		margin-left: -3rem;
		border-radius: 120px;
		border: 1px solid $mauve;
	}
}

/* NAV */
#nav {
	.collapse,
	.navbar-collapse {
		justify-content: flex-end;
	}
	a {
		margin-left: 12px;
	}
	.logo {
		width: auto;
		height: 80px;
	}
}

/* WELCOME */
#welcome {
	.content {
		height: 95vh;
	}
	.welcome-text,
	.welcome-splash {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.welcome-splash {
		width: auto;
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	.welcome-text {
		p {
			padding-right: 50px;
			padding-top: 50px;
			font-size: 22px;
			font-weight: 700;
			text-justify: auto;
		}
	}
}

/* MANIFESTO */
#manifesto {
	height: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 5rem;
	/* DROPS */
	.drop-1 {
		position: absolute;
		left: 250px;
		filter: opacity(0.5);
	}
	.drop-2 {
		position: absolute;
		right: 150px;
		filter: opacity(0.5);
	}
	.manifesto-card {
		display: flex;
		flex-direction: column;
		padding: 2rem 3rem 2rem 3rem;
		height: 100%;
		background-color: white;
		box-shadow: 0 40px 46px rgba(31, 149, 97, 0.1);
	}
}

/* DOING */
#doing {
	height: 100%;
	display: flex;
	align-items: center;
	p {
		font-size: 16px;
	}
	h2,
	h3 {
		z-index: 1;
	}
	.help-card {
		background-color: white;
		padding: 2rem 3rem 1rem 3rem;
		border-radius: 12px;
		box-shadow: 0 40px 46px rgba(31, 149, 97, 0.1);
		@include media-breakpoint-down(md) {
			margin-bottom: 3rem;
		}
	}

	.float-right {
		font-size: 14px;
		a {
			font-size: 14px;
		}
		text-align: right;
	}

	/* DROPS */
	.drop-1 {
		position: absolute;
		right: 0px;
		filter: opacity(0.3);
	}
}

/* TEAM */
#team {
	height: 100%;
	display: flex;
	align-items: center;
	h2,
	h3,
	p {
		z-index: 1;
	}

	h4 {
		font-size: 20px;
	}

	.drop-1 {
		position: absolute;
		left: 100px;
		filter: opacity(0.6);
	}

	.card {
		margin: 0 2vw;
		box-shadow: 0 40px 46px rgba(31, 149, 97, 0.1);
		.card-body {
			padding: 2rem;
			button {
				height: 32px;
				font-size: 16px;
			}
		}
	}
	.img-card {
		max-height: 300px;
	}
}

/* NEWS */
#news {
	height: 100%;
	display: flex;
	align-items: center;
	.card {
		box-shadow: 0 40px 46px rgba(31, 149, 97, 0.1);
		&:hover {
			* {
				color: white;
			}
			transition: transform 0.03s;
			transform: scale(1.01);
			button {
				color: $mauve;
				&:hover {
					color: $white;
				}
			}
			background-image: linear-gradient(-237.25deg, #6853ac 0%, #1f9561 100%);
		}
	}

	.frame {
		margin: 0 auto;
		height: 300px;
		width: 300px;
		display: flex;
	}

	.img-card {
		width: auto;
		margin: auto;
	}

	.white-button {
		padding: 0 5rem;
	}
}

/* HELP */
#help {
	height: 100%;
	display: flex;
	align-items: center;

	.help-card {
		background-color: white;
		padding: 2rem 3rem 1rem 3rem;
		border-radius: 12px;
		box-shadow: 0 40px 46px rgba(31, 149, 97, 0.1);
		@include media-breakpoint-down(md) {
			margin-bottom: 3rem;
		}
	}

	/* DROPS */
	.drop-1 {
		position: absolute;
		left: 0px;
		filter: opacity(0.4);
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}

/* ECOSYSTEM */
#ecosystem {
	height: 100%;
	display: flex;
	align-items: center;
	.eco-images {
		display: flex;
		justify-content: space-around;
		.eco-img {
			max-height: 200px;
		}
	}
}

/* FOOTER */
#footer {
	height: 100%;
	display: flex;
	align-items: center;
	.end {
		display: flex;
		justify-content: space-between;
		p,
		a {
			font-size: 12px;
		}
	}
}
